.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
.Rproj
inst/shiny_app/_tigris_cache/
ASUbuildR.Rproj
inst/Tract Hunter V3.Rmd
*.o
__pycache__/
*.py[cod]
ASUbuildR.Rcheck/
ASUbuildR_*.tar.gz
test folder/*
temp_*.R
test folder/asu_exports/
.positai
.venv/
*.csv
ASUbuildR.Rproj
.codex_exact_lns_patch_probe
